<html>
    <head>
        <title>Create Jobs</title>
    </head>
    <body>
        <h1>Here's the job you had:</h1>
        <p>{{ new_jobs.getTitle }}</p>
        <ul>
            <li>{{ new_jobs.getTime }}</li><br>
            <li>{{ new_jobs.getLocation }}</li><br>
            <li>{{ new_jobs.getDescription }}</li><br>
        </ul>
        <p><a href="/">View your jobs</a></p>
    </body>
</html>
